@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

header {
  background-color: Black;
  padding: 6px 6px;
  font-family: 'Raleway', sans-serif;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 36pt;
}

body {
  font-family: 'Crimson Text', serif;
}
