@import url('https://fonts.googleapis.com/css?family=Special+Elite');

header {
  background-color: Black;
}

body {
}

table {
  width: 100%;
}

table, th, td {
  font-family: sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
}

th {
  background-color: tomato;
  color: white;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}

th, td {
  padding: 6px;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-family: sans-serif;
  margin: 10px 5px;
}

h1 {
  font-size: 28pt;
  color: White;
  padding: 10px 10px;
}

h2 {
	color: Black;
  font-size: 24pt;
}

h3 {
  font-size: 20pt;
  color: maroon;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 12pt;
}

li {
  margin: 5px 0px;
}

section {
  margin-left: 30px;
  padding: 10px 10px;
}

#table-of-contents {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.toc-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: White;
  background-repeat: repeat;
}

.examples {
  color: green;
}

li {
  color: red;
}

img {
  display: block;
  margin: auto;
}

.toc-element img {
  height: 80px;
}

a:link {
  color: blue;
}

.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  background-color: tomato;
  color: black;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

.subsection {
  margin-left: 30px;
  margin-bottom: 40px;
}

.subsection-death-type {
  margin-bottom: 60px;
}
