<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/projects">Projects</a></li> 
	        		<li><a href="/cv">CV</a></li>
                </ul>
			</nav>

			<div class="container">
			{{ content }}
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:tatebrasel@gmail.com">email</a></li>
	        		<li><a href="https://github.com/tabrasel">github.com/tabrasel</a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
				</ul>
			</footer>
		</body>
	</html>
