.p {
  font-size: min(calc(15px + 0.4vw), 22px);
  text-align: justify;
}

h1 {
  font-size: min(calc(24.545px + 0.6545vw), 36px);
}

h3 {
  font-size: min(calc(150px + 0.4vw), 26px);
  font-weight: bold;
  margin: 0px;
}

.profileImg {
  width: calc(50px + 18vw);
  height: calc(50px + 18vw);
  max-width: 256px;
  max-height: 256px;
  border: 0.2vw solid #960000;
  padding: calc(2px + 0.2vw);
  border-radius: 50%;
  background-color: white;
}
