.p {
  font-size: calc(15px + 0.4vw);
  text-align: justify;
}

.ul {
  font-size: calc(12px + 0.6vw);
}

.ulTitle {
  font-size: calc(14px + 0.5vw);
  margin-bottom: 0px;
  font-weight: bold;
}

.profileImg {
  width: calc(50px + 18vw);
  height: calc(50px + 18vw);
  max-width: 256px;
  max-height: 256px;
  border: 0.2vw solid #960000;
  padding: calc(2px + 0.2vw);
  border-radius: 50%;
  background-color: white;
}
